name: Receive and Return CVE

on:
    repository_dispatch:
        types: [ping_cve]
    
jobs:
    return:
        runs-on: ubuntu-latest
        
        steps:
            - name: Echo CVE into file
              run: |
                mkdir output
                echo "Received CVE: ${{github.event.client_payload.cve}}" > output/cve.md

            - name: Send file back to report-repo as commit
              run: |
                git clone "https://x-access-token:${{secrets.REPORT_REPO_WRITE_TOKEN}}@github.com/JORUNOJOSTAR/VULN-REPORT-TEST.git" report
                cp output/cve.md report/cve-${{github.event.client_payload.cve}}.md
                cd report
                git config user.name "report-bot"
                git config user.email "bot@example.com"                
                git add .
                git commit -m "CVE returned from target-repo"
                git push
